a{
    text-decoration: underline;
}
.fa{
    color:blue;
    font-size: 40px;
}
.box{
    background-color:rgb(211, 211, 238);
    padding:30px 60px;
}
.box-part{
    background-color: white;
    text-align: center;
    padding: 50px 10px;
    margin: 10px;

}